<div>
  <h2>Contact List</h2>
</div>

<div>
  <ul>
    <% sort_contacts(@contacts).each do |contact| %>
      <li><a href="/contact/<%= contact[:id] %>"><%= contact[:name] %><a></li>
      <% end %>
  </ul>
</div>

<p><a href="/categories">Show Categories</a></p>
<a href="/contact/new">New Contact</a>
